<h1>Word Counter</h1>
<form action="/counted" method="post">
  <label for="start-sentence">Type a sentence</label>
  <input name="start-sentence" type="text">
  <label for="start-search">enter a word that exists in the sentence to see how many times it appears</label>
  <input name="start-search" type="text">
  <button type="submit">GO</button>
</form>
